* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.MainTopic{
    position: absolute;
    top: 85px;
    left: 100px;

}

.productsManageSection{
    display: flex;
    position: absolute;
    width: 80%;
    top: 140px;
    height: 80vh;

}

.ManageSection{
    width: 50vw;
    height: 70vh;

}

.ManageSection2{
    width: 50vw;
    height: 50vh;
}


.btnProductSave{
    top: 250px;
    position: absolute;
    width: 10%;
    height:40px;
    bottom: 50px;
    right: 100px;
}

.btnProductClear{
    top: 250px;
    position: absolute;
    width: 10%;
    height: 40px;
    bottom: 50px;
    right: 280px;
}