

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.registration_section{
    width: 98vw;
    display: flex;
    height: 100vh;
    
}

.topic{
    position: absolute;
    display: flex;
    left: 650px;
    top: 20px;
}

.first_registration_form{
    width: 45vw;
    position: relative;
    height: 80vh;
    left: 80px;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
   
}

.second_registration_form{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 208px;
    top: 50px;
    width: 30vw;
    height: 80vh;
    
}



/* ----------------------buttons */

.btnSave{
    position: absolute;
    width: 10%;
    height:40px;
    bottom: 130px;
    right: 100px;
}

.btnClear{
    position: absolute;
    width: 10%;
    height: 40px;
    bottom: 130px;
    right: 280px;
}

.UserTable{
    position: relative;
    top: -100px;
    width: 90%;
    left: 100px;
}