* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Topic{
    position: absolute;
    top: 85px;
    left: 100px;
}

.CartManageSection{
    display: flex;
    position: absolute;
    width: 80%;
    top: 140px;
    height: 80vh;
    
}


.Section{
    width: 50vw;
    height: 70vh;
   
}

.Section2{
    width: 50vw;
    height: 50vh;
}

.btnCartSave{
    top: 280px;
    position: absolute;
    width: 10%;
    height:40px;
    bottom: 50px;
    right: 100px;
}

.btnCartClear{
    top: 280px;
    position: absolute;
    width: 10%;
    height: 40px;
    bottom: 50px;
    right: 280px;
}